@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
  }

* {
    font-family: 'Montserrat', sans-serif;
    color: white;
    
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    background-color: black;
    background: url('https://i.imgur.com/xZL41k9.png') no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    /* background: -moz-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(74,223,126,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,0,0,1)), color-stop(51%, rgba(0,0,0,1)), color-stop(100%, rgba(74,223,126,1)));
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(74,223,126,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(74,223,126,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(74,223,126,1) 100%);
    background: linear-gradient(135deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 51%, rgba(74,223,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#4adf7e', GradientType=1 ); */
}

.container {
    max-width: 1200px;
    margin: -20px auto;
    padding: 0px 40px;
    flex-grow: 1;
}

.login{
    background: #1DD760;
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 0;
    text-align: center;
    border-radius: .8rem;
    padding: .25rem .8rem;
}

.logo {
    height: 8rem;
    width: 8rem;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    /* align-content: flex-start;
    justify-content: space-between; */
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    max-width: 1000px;
    padding: 0px 40px;
    margin: 0px auto;
}

.text-info {
    flex: 1;
}

.title-text {
    line-height: 0%;
    padding-bottom:2px;
}

.description-text {
    font-weight: 500;
    line-height: .1em;
    font-size: 20px;
}

.bold-text {
    font-weight: 700;
}
.semibold-text {
    font-weight: 600;
}

.line {
    width:5px;
    background-color:white;
    position: fixed;
    top:8.55rem;
    bottom:0;
    left:15.5em;
    height: 9.2rem;
}

.join-buttons{
    /* display: flex; */
    align-content: flex-end;
    padding: 2rem 5rem;
}

.play-btn {
    color: white;
    padding: .5rem 2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid white;
    border-radius: 1.5rem;
}

.join-btn {
    background-color: #1DD760;
    color: white;
    padding: .6rem 1.2rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* border: 2px solid white; */
    border-radius: 1.5rem;
}

.join-buttons p {
    padding: 0 3.8rem;
}

.album-covers {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: center;
    margin: 0px auto;
}

.album-covers img {
    height: 150px;
    width: 150px;
    border-radius: 1.5rem;
}

.home-page-circle-1 {
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgba(87, 255, 143, 0.1);
    bottom: 5vw;
    left: 70vw;
    z-index: -1;
  }
  
  .home-page-circle-2 {
    position: absolute;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    background-color: rgba(87, 255, 143, 0.1);
    top: 10vh;
    left: 15vw;
    z-index: -1;
  }
  
  .home-page-circle-3 {
    position: absolute;
    overflow: hidden;
    width: 30vw;
    height: 30vw;
    bottom: 0;
    right: 80vw;
    z-index: -1;
  }
  
  .home-page-circle-3::before {
    content: '';
    transform: translate(0%, 40%);
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgba(87, 255, 143, 0.1);
  }

/* queries */
@media (max-width: 770px){
    .info {
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    .album-covers {
        display: flex;
        width: 100%;
        margin: 0px auto;
        flex-direction: row;
        align-items: flex-end;
        align-self: flex-end;
    }
    .first-albums {
        
    }
}